trigger:
 - main
pool: Infra pool

stages:
  - stage: Nodeinstall
    jobs:
      - job: Nodeinstall
        displayName: Nodejs Install
        steps:
        - task: NodeTool@0
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'npm install'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'npm run build'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(System.DefaultWorkingDirectory)/build'
            ArtifactName: 'todo-ui'
            publishLocation: 'Container'
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'todo-ui'
            targetPath: '$(System.DefaultWorkingDirectory)/build_Artifacts'

        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'frontend'
            sourceFolder: '$(System.DefaultWorkingDirectory)/build_Artifacts'
            contents: '**'
            targetFolder: '/home/adminuser/'
            readyTimeout: '20000'
        - task: SSH@0
          inputs:
            sshEndpoint: 'frontend'
            runOptions: 'commands'
            commands: 'sudo cp -r /home/adminuser/* /var/www/html'
            readyTimeout: '20000'