trigger:
- main

pool: Todo_infra

steps: 
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'

- task: Npm@1
  inputs:
    command: 'install'
- task: Npm@1
  inputs:
    command: 'custom'
    workingDir: '$(DefaultWorkingDirectory)'
    customCommand: 'npm run build'
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(DefaultWorkingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
- task: DownloadBuildArtifacts@1
  inputs:
    buildType: 'current'
    downloadType: 'specific'
    downloadPath: '$(DefaultWorkingDirectory)'